<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Topic</title>

    <script src="//cdn.jsdelivr.net/sockjs/1.0.0/sockjs.min.js"></script>
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.js"></script>

    <script src="../static/js/stomp.js"></script>
    <script src="../static/js/topic.js"></script>

</head>
<body onload="disconnect()">
<noscript><h2 style="color: #ff0000">Seems your browser doesn't support Javascript! Websocket relies on Javascript being
    enabled. Please enable
    Javascript and reload this page!</h2></noscript>
<div>
    <div>
        <button id="connect" onclick="connect();">Connect</button>
        <!--        <button id="connect" onclick="createWebSocket();">Connect</button>-->
        <button id="disconnect" disabled="disabled" onclick="disconnect();">Disconnect</button>
    </div>
    <div id="conversationDiv">
        <labal>名字</labal>
        <input type="text" id="name"/>
        <button id="sendName" onclick="sendName();">Send</button>
        <p id="response"></p>
    </div>
</div>

</body>
</html>